[% WRAPPER bootwrapper.tt %]
    <h3>Swindon Events - [% start_date.month_name %], [% start_date.year %]</h3>
    <div id="calendar" class="grid">
    [% INCLUDE events_by_day.tt events=events venue_link=1%]
    </div>
    <hr/>
    
    <ul class="menu">
   [% FOREACH nav IN extra_nav %]
     <li><a href="[% nav.value %]">[% nav.key %]</a></li>
   [% END %]
   </ul>
[% END %]