<div class="littleevent" style="[% eventstyle %]" title="[% event_row.name %]" >[% event.hour %] <a href="[% event_row.url %]">[% event_row.name | html %]</a> [% IF venue_link %]<a href="[% base_uri%]/venue/[% event_row.venue.url_name %]"> ([% event_row.venue.name %])</a>[% END %]</div>