<!doctype html>
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<html>
  <head>
    <!--#include virtual="/~castaway/_includes/ga.html" -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Swindon Events - [% page_name %]</title>
	<link rel="stylesheet" type="text/css" href="[% static_uri %]/static/css/events.css" />
  </head>
  <body>
    [% content %]
  </body>
</html>
